.hero-bg{
    background-image: linear-gradient(
      rgba(21, 22, 24, 0.4),
      rgba(32, 33, 35, 0.4)
    ),
    url("./assets/Hero.jpg"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  position: relative;
}